pydantic
dotenv
langchain
langchain-openai
langchain-groq
langchain-core
langchain-community
sentence-transformers
langchain-huggingface
faiss-cpu
pypdf
langchain_google_genai
pinecone
langchain_pinecone
unstructured
pymongo
wikipedia
youtube_search